@import url('https://fonts.googleapis.com/css2?family=Modak&family=Anton&family=Lato:ital@1&family=Open+Sans&family=Piedra&family=Roboto:wght@300&display=swap');

:root {
	--Piedra: 'Piedra', cursive;
	--Roboto: 'Roboto', sans-serif;
	--grey: #807d7d;
	--black: #1f1d1d;
	--Anton: 'Anton', sans-serif;
	--Open-Sans: Open Sans, sans-serif;
	--Lato: 'Lato, sans-serif';
	--Modak: 'Modak', cursive;
	--lightgrey: #bdb9b9;
	--sitelite: #e6e8eb;
	--site-second-lite: #d3ddeb;
}

.portfolioContainer {
	/* background-color: #e3e3e3; */
	margin: 5em 0 0 0;
	padding: 0.9em;
	background: -webkit-linear-gradient(#e6e8eb, #d3ddeb);
	background: -moz-linear-gradient(#e6e8eb, #d3ddeb);
	background: linear-gradient(#e6e8eb, #d3ddeb);
}

.portfolio {
	margin-top: 5rem;
}

.flexColumn {
	display: flex;
	flex-direction: column;
	margin-bottom: 5rem !important;
}

/* .boxWrapper { */
/* border: 2px solid var(--grey); */
/* background-color: var(--sitelite); */
/* opacity: 0.1; */
/* } */

.boxWrapper:hover {
	border: none;
	transition: 0.5s ease-out;
}

.innerflex {
	display: flex;
	flex-direction: row;
	background-color: white;
	opacity: 0.7;
	/* border-top-left-radius: 7.5em;
	border-bottom-left-radius: 7.5em; */
	border-radius: 10em;
	/* border-radius: 5%; */
}
.innerflex:hover {
	/* background-color: #121212; */
	background-color: white;
	box-shadow: 10px 20px var(--site-second-lite);
	transform: scale(1.1);
	/* filter: brightness(0.15); */
	border: visible;
	outline: visible;
	z-index: 1;
	opacity: 1;
	transition: 0.5s ease-out;
}

.imgBox {
	width: 30%;
}

.innerflex .project-img {
	width: 100%;
	height: 230px;
	border-radius: 50%;
	/* padding: 0.5em; */
	margin: 0 2em;
}

.textBox {
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: black;
}

.textBox:hover {
	/* background-color: var(--sitelite); */
	z-index: 1;
	/* color: white; */
	border: none;
	outline: none;
	transition: 0.5 ease-out;
	z-index: 1;
	/* box-shadow: 5px 10px var(--lightgrey); */
}

.card-title {
	font-family: var(--Roboto);
	font-size: 24px;
	font-weight: bold;
}
.project-text {
	font-family: var(--Roboto);
	font-size: 16px;
	/* font-weight: bold; */
	letter-spacing: 2px;
	line-height: 2rem;
	/* border: 1px solid yellow; */
	text-align: justify;
}

.projectBuild {
	display: flex;
	flex-direction: row;
	padding: 10px;
}

.projectBuild a.tool {
	margin: 0 10px;
	border-radius: 0.5em;
	border: 1px solid var(--black);
	background-color: white;
	font-family: var(--Roboto);
	font-size: 14px;
	padding: 7px;
}
.fa-external-link-alt {
	color: var(--grey);
}

@media (min-width: 100px) and (max-width: 575px) {
	.innerflex {
		flex-direction: column;
		border-radius: 0em;
	}

	.inner-flex project-img {
		border: 1px solid yellow;
		width: 20%;
		height: 10%;
		border-radius: 0em;
		justify-self: center;
	}
}
